7_bootstrapping_with_similar_pois/synthetic_checkins_bootstrapped.csv
7_bootstrapping_with_similar_pois/synthetic_checkins_bootstrapped.csv
7_bootstrapping_with_similar_pois/synthetic_checkins_bootstrapped.csv
/home/rubesh/Desktop/sweta/google_review_collection_POI_task/fsq_synthetic_data_generation_with_google_reviews/8_syn_data_gen_models/synthetic_checkins_autoencoder.csv
